@import url('https://fonts.googleapis.com/css?family=Yu+Gothic+UI');
@import url('https://fonts.googleapis.com/css?family=Jura');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Rosarivo');

/*Navigation Bar starts*/

.navbar {
  position: relative;
  background-color: #000;
  margin-bottom: 0;
}

.navbar-brand {
  position: absolute;
  left: 50%;
  margin-left: -60px !important;   /*50% of logo-width */
  display: block;
  z-index: 1;
}
.navbar-brand img {
  width: 120px;
}

.navbar .navbar-nav {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar .navbar-nav>li {
  padding: 0 5px;
  font-family: 'Roboto', Times, serif;
  text-transform: uppercase;
}
.navbar .navbar-nav>li>a {
  color: white;
}
.navbar .navbar-nav>li>a:hover, .navbar .navbar-nav .active>a:hover {
  color: #aaa;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}
.dropdown-menu>li {
  text-transform: none;
  padding: 5px;
  font-size: 15px;
}


@media (max-width: 992px) {
  .navbar-header {
    float: none;
  }
  .navbar-left,.navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar .navbar-nav {
    display: block;
    height: auto;
    margin-top: 7.5px;
  }
  .navbar-nav>li {
    float: none;
    text-align: center;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .dropdown-menu>li {
    text-align: center;
  }
  .collapse.in{
    display: block !important;
  }
  
  .navbar-brand {
    position: relative;
    left: 70px;
  }
  .navbar-brand img {
    width: 60px;
  }

}
/*Navigation Bar ends*/


/*landing section starts*/

.landing {
  height: 90vh;
  background-image: url('../img/back01.png');
  background-size: cover;
  margin: 0;
  padding: 0;
}
.land_text {
  display: block;
  width: 100%;
  margin-top: 25vh;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}
.land_text h3 {
  font-family: 'Yu Gothic UI';
  font-size: 50px;
}
.land_text h2 {
  font-family: 'Jura';
  font-size: 60px;
}
/*landing section ends*/

/*quote section*/
.land_quote {
  display: block;
  margin: 0;
  padding: 2%;
  font-family: 'Rosarivo';
  text-align: center;
  font-size: 20px;
}

/*about section starts*/
.land_about {
  display: block;
  margin: 0;
  padding: 2%;
}
.section_title {
  font-size: 30px;
  font-family: 'Arial';
  text-transform: uppercase;
  text-align: center;
  color: #1d1523;
  border-bottom: 10px none #fff;
}
.section_title:after {
  content: '';
  display: block;
  width: 700px;
  height: 4px;
  background: #1d1523;
  margin: 5px auto 20px;
  border-radius: 3px;
}
@media (max-width: 767px) {
  .section_title:after {
    width: 250px;
  }
}
.section_content {
  margin: 0 5% 3%;
  font-size: 18px;
  color: #212a3a;
  line-height: 1.4;
  text-align: center;
}
/*about section ends*/


/*slider section starts*/
.land_slider {
  display: block;
  margin: 0;
  padding: 0;
  background: linear-gradient(90deg, rgb(250,250,250) 40%, rgba(0, 0, 0, 0) 40%), url('../img/slider.jpg');
  background-size: cover;
  background-position: right bottom;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img {
  display: block;
  width: 35vw;
  height: 25vw;
  margin: 5%;
  margin-left: 10%;
  border: 5px solid white;
}
.carousel-caption {
  position: absolute;
  top: 3%;
}
.carousel-caption h3{
  position: absolute;
  left: 38%;
  color: #212a3a;
  background: #fff;
  font-size: 40px;
  text-transform: uppercase;
  padding: 5px;
  border: 5px solid white;
  box-shadow: inset 3px 0px 0px 0px #212a3a;
  box-sizing: border-box;
  font-family: 'Roboto';
}
.carousel-caption p{
  position: absolute;
  left: 60%;
  margin-top: 10%;
  padding: 3%;
  color: #1d1523;
  background: rgba(250,250,250,0.7);
  font-family: 'Roboto';
}
@media (max-width: 767px) {
  .carousel-inner>.item>a>img, .carousel-inner>.item>img {
    display: block;
    max-width: 100%;
    height: 250px;
  }
  .carousel-caption {
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
  }
}
/*slider section ends*/


/*logo section starts*/
.land_logo {
  display: block;
  margin: 0;
  padding: 2% 0;
  background: #212a3a;
}
.logo_image {
  display: flex;
  align-items: center;
  padding: 2% 0;
}
.logo_image img {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.logo_content {
  margin: 3% 0;
  font-size: 16px;
  color: #fff;
  line-height: 1.4;
  text-align: center;
}
/*logo section ends*/

/*contact section starts*/
.land_contact {
  display: block;
  margin: 0;
  padding: 2%;
  background-color: #fff;
}
.social-links img{
  display: block;
  width: 60px;
  margin: 15px auto;
}
.social-links p{
  text-align: center;
}
.social-links ul{
  display: flex;
  justify-content: center;
  padding-inline-start: 0;
  list-style: none;
  font-size: 20px;
  text-align: center;
}
.social-links li{
  width: 30px;
  float: left;
  margin: 5px;
  border: 1px solid #000;
  border-radius: 50%;
}
.social-links a{
  color: #222;
}
.social-links a:hover, .social-links a:focus{
  color: #555;
}
.quick-links {
  margin-left: 10%;
}
.quick-links h4{
  font-size: 15px;
  color: #311432;
  font-weight: bold;
}
.quick-links h4:after{
  content: '';
  display: block;
  width: 60px;
  height: 2px;
  background: #311432;
  margin: 5px 0 20px;
  border-radius: 3px;
}
.quick-links ul{
  list-style: none;
  padding-inline-start: 0;
}
.quick-links li{
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px dashed #ddd;
}
.quick-links a{
  color: #222;
}
.quick-links a:hover, .quick-links a:focus{
  color: #555;
}
.tab-wrap {
  margin: 2%; 
}
.media>.pull-left {
  padding-right: 0;
}
.tab-wrap .nav-tabs {
  padding: 2%;
  background: #311432;
}
.tab-wrap .nav-tabs a{
  color: #fff;
}
.tab-wrap .nav-tabs a:hover, .tab-wrap .nav-tabs a:focus{
  color: #000;
}
.tab-wrap .tab-content {
  padding: 2%;
  background: #999999;
}
.tab-wrap .tab-content a{
  color: #333;
}
.tab-wrap .tab-pane .media-body {
  padding-left: 5%;
}
/*contact section ends*/

/*footer section starts*/
footer{
  margin: 0;
  background: #311432;
  color: #fff;
  text-align: center;
  font-size: 14px;
}
footer p{
  margin: 0;
}
/*footer section endss*/