

	.our-team {
        background: #f7f5ec;
        text-align: center;
        overflow: hidden;
        position: relative;
        margin: 10px 8px;
        padding: 30px 30px;
	}

	.our-team .pic {
        display: inline-block;
        width: 150px;
        height: 150px;
        margin-bottom: 15px;
        z-index: 1;
        position: relative;
	}

    .our-team .pic::before {
        content: "";
        width: 100%;
        height: 0;
        border-radius: 50%;
        background: #1785eb;
        position: absolute;
        bottom: 135%;
        right: 0;
        left: 0;
        opacity: 0.2;
        transform: scale(3);
        transition: all 0.3s linear 0s;
    }

    .our-team:hover .pic::before {
        height: 100%;
    }

    .our-team .pic:after {
        content: "";
        width: 100%;
        height: 100%;
        border-radius: 50%;
        color: #1785eb;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    .our-team .pic img {
        width: 100%;
        height: 150px;
        border-radius: 50%;
        transform: scale(1);
        transition: all 0.9s ease 0s;
    }

    .our-team:hover .pic img {
        box-shadow: 0 0 0 12px #f7f5ec;
        transform: scale(0.75);
    }

    .our-team .team-content {
        display: inline;
        margin-bottom: 20px;
    }

    .our-team .title {
        font-size: 22px;
        font-weight: 700;
        color: #4e5052;
        letter-spacing: 1px;
        margin-bottom: 5px;
    }

    .our-team .post {
        display: block;
        font-size: 15px;
        color: #4e5052;
    }

    .our-team .social {
        width: 100%;
        padding: 0;
        margin: 0;
        background: #1785eb;
        position: absolute;
        bottom: -100px;
        left: 0;
        transition: all 0.5s ease 0s;
        text-align: center;
    }

    .our-team:hover .social {
        bottom: 0;
    }

    .our-team .social li {
        display: inline-block;
    }

	.our-team .social li a {
        text-decoration: none;
		display: block;
        padding: 10px;
        font-size: 17px;
        color: #ffffff;
        transition: all 0.3s ease 0s;
	}

    .our-team .social li a:hover {
        color: #1785eb;
        background: #f7f5ec;
    }

	@media (max-width: 720px) {
		.container {
            flex-direction: column;
		}

		.our-team {
            width: 80%;
            margin-top: 30px;
		}
	}

