
.filterDiv {
  display: none;
}
.show {
  display: block;
}

#myBtnContainer{
	display: block;
	width: 100%;
	margin: 2% auto;
}
#myBtnContainer .btn {
  box-sizing: border-box;
  appearance: none;
  border-radius: 0;
  color: #fff;
  background-color: #08c;
  background-image: linear-gradient(45deg, #f1c40f 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  transition: background 300ms ease-in-out;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 700;
}
#myBtnContainer .btn:hover,#myBtnContainer .btn:focus {
  color: #fff;
  outline: 0;
  border: none;
  background-position: 0;
}
#myBtnContainer .btn.active,#myBtnContainer .btn:active {
  color: #fff;
  outline: 0;
  border: none;
  background: linear-gradient(45deg, #f1c40f 100%, transparent 0%);
  background-position: 0;
}
@media (max-width: 767px){
  #myBtnContainer .btn {
    margin: 10px;
    padding: 1.0em 2.0em;
  }
}

.blogs_head{
  margin-top: 5%;
}
.blog_card {
  width: auto;
  background: #fff;
  font-size: 16px;
  line-height: 1.4;
  box-sizing: border-box;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  transition: box-shadow 0.3s;
  margin: 10% auto;
}
.blog_card:hover {
  box-shadow: 0 0 50px rgba(0,0,0,0.3);
}
.blog_card a {
  color: inherit;
  text-decoration: none;
}

.blog_card_date {
  background: #08c;
  position: absolute;
  top: 20px;
  right: 40px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  line-height: 13px;
  font-weight: bold;
  padding-top: 10px;
  margin: 10% auto;
}
.blog_card_date_day {
  display: block;
  font-size: 14px;
}
.blog_card_date_month {
  display: block;
  font-size: 10px;
  text-transform: uppercase;
}

.blog_card_thumb{
  height: 230px;
  overflow: hidden;
  background-color: #000;
  transition: height 0.3s;
}
.blog_card_thumb img{
  display: block;
  width: 100%;
  min-height: 230px;
  opacity: 1;
  transition: opacity 0.3s, transform 0.3s;
  transform: scale(1);
}

.blog_card:hover .blog_card_thumb img{
  opacity: 0.6;
  transform: scale(1.2);
}
.blog_card:hover .blog_card_thumb{
  height: 100px; /*230px - 130px;*/
}

.blog_card_body {
  position: relative;
  padding: 20px;
  height: 150px;
  transition: height 0.3s;
}
.blog_card:hover .blog_card_body {
  height: 280px; /*150px + 130px;*/
}

.blog_card_category {
  position: absolute;
  top: -25px;
  left: 0;
  height: 25px;
  padding: 0 15px;
  background: #08c;
  color: #fff;
  font-size: 11px;
  line-height: 25px;
}
.blog_card_category a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.blog_card_title {
  padding: 0 0 10px 0;
  margin: 0;
  font-size: 22px;
  color: #000;
  font-weight: bold;
}
.blog_card:hover .blog_card_title{
  animation: titleBlur 0.3s;
}

.blog_card_subtitle {
  margin: 0;
  padding: 0 0 10px 0;
  color: #08c;
  font-size: 19px;
}
.blog_card:hover .blog_card_subtitle {
  animation: subtitleBlur 0.3s;
}

.blog_card_description {
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 65px;

  margin: 0;
  padding: 0;

  color: #666c74;
  font-size: 14px;
  line-height: 27px;

  opacity: 0;
  transition: opacity 0.3s - 0.1s, transform 0.3s - 0.1s;
  transition-delay: 0s;
  transform: translateY(25px);
}
.blog_card:hover .blog_card_description {
  opacity: 1;
  transition-delay: 0.1s;
  transform: translateY(0);
}

.blog_card_footer {
  position: absolute;
  color: #a3a9ab;
  bottom: 20px;
  /*left: 20px;
  right: 20px;*/
  font-size: 11px;
  margin: 10% auto;
}
.blog_card_footer .read_more {
  margin-left: 20px;
}

@media (max-width: 767px) and (min-width: 568px) {
  .blog_card {
    width: 70%;
    font-size: 20px;
    line-height: 1.0;
    margin: 2% auto;
  }
  .blog_card_thumb {
    height: 300px;
  }
  .blog_card_thumb img {
    height: 300px;
  }
  .blog_card_date {
  	margin: 2% auto;
    right: 20vw;
  }
  .blog_card_body {
    height: 120px;
  }
  .blog_card:hover .blog_card_thumb {
    height: 200px;
  }
  .blog_card:hover .blog_card_body {
    height: 220px;
  }
  .blog_card_title {
    font-size: 20px;
  }
  .blog_card_subtitle {
    font-size: 16px;
  }
  .blog_card_description {
    text-overflow: ellipsis;
    font-size: 12px;
    line-height: 18px;
  }
  .blog_card_footer {
  	margin: 2% auto;
  }
}

@media only screen and (max-width: 567px){
  .blog_card {
    width: 80%;
    font-size: 15px;
    line-height: 1.0;
  }
  .blog_card_thumb {
    height: 200px;
  }
  .blog_card_thumb img {
    height: 200px;
  }
  .blog_card_date {
    right: 20vw;
  }
  .blog_card_body {
    height: 150px;
  }
  .blog_card:hover .blog_card_thumb {
    height: 100px;
  }
  .blog_card:hover .blog_card_body {
    height: 250px;
  }
  .blog_card_title {
    font-size: 16px;
  }
  .blog_card_subtitle {
    font-size: 14px;
  }
  .blog_card_description {
    text-overflow: ellipsis;
    font-size: 10px;
    line-height: 18px;
  }
}

@keyframes titleBlur {
  0%{
    opacity:0.6;
    text-shadow: 0px 5px 5px rgba(0,0,0,0.6);
  }
  100%{
    opacity:1;
    text-shadow: 0px 5px 5px rgba(0,0,0,0);
  }
}

@keyframes subtitleBlur {
  0%{
    opacity:0.6;
    text-shadow: 0px 5px 5px rgba(0,136,204,0.6); /*#08c*/
  }
  100%{
    opacity:1;
    text-shadow: 0px 5px 5px rgba(0,136,204,0);
  }
}