@import url('https://fonts.googleapis.com/css?family=Playfair Display');
@import url('https://fonts.googleapis.com/css?family=Alegreya');
@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap%22');


body {
  font-family: 'Alegreya';
}

/*Navigation Bar starts*/

.navbar {
  position: relative;
  background-color: #000;
  margin-bottom: 0;
}
.navbar-fixed-top {
  position: fixed !important;
}

.navbar-brand {
  position: absolute;
  left: 50%;
  margin-left: -60px !important;   /*50% of logo-width */
  display: block;
  z-index: 1;
}
.navbar-brand img {
  width: 120px;
}

.navbar .navbar-nav {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar .navbar-nav>li {
  padding: 0 5px;
  font-family: 'Alegreya', Times, serif;
  text-transform: uppercase;
}
.navbar .navbar-nav>li>a {
  color: white;
}
.navbar .navbar-nav>li>a:hover, .navbar .navbar-nav .active>a:hover {
  color: #aaa;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}
.dropdown-menu>li {
  text-transform: none;
  padding: 5px;
  font-size: 15px;
}


@media (max-width: 992px) {
  .navbar-header {
    float: none;
  }
  .navbar-left,.navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar .navbar-nav {
    display: block;
    height: auto;
    margin-top: 7.5px;
  }
  .navbar-nav>li {
    float: none;
    text-align: center;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .dropdown-menu>li {
    text-align: center;
  }
  .collapse.in{
    display: block !important;
  }
  
  .navbar-brand {
    position: relative;
    left: 70px;
  }
  .navbar-brand img {
    width: 60px;
  }

}
/*Navigation Bar ends*/


/*landing section starts*/
.landing {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing:before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  /*background: linear-gradient(to top, #0a2a43, transparent);*/
  z-index: 100;
}

.landing:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*background: #0a2a43;*/
  z-index: 100;
  mix-blend-mode: color;
}

.landing #bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.landing #moon {
  position: absolute;
  top: 65%;
  transform: translate(-30%, -50%);
  left: 0;
  width: 25%;
  height: 25%;
  object-fit: contain;
  pointer-events: none;
}

#text {
  position: relative;
  color: #ffffff;
  font-family: 'RocknRoll One';
  font-size: 60px;
  z-index: 2;
  text-align: center;
}
@media (max-width: 767px) {
  #text {
    font-size: 40px;
  }
}

/*.landing {
  height: 90vh;
  background-image: url('../img/back01.png');
  background-size: cover;
  margin: 0;
  padding: 0;
}
.land_text {
  display: block;
  width: 100%;
  margin-top: 25vh;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}
.land_text h3 {
  font-family: 'Alegreya';
  font-size: 50px;
}
.land_text h2 {
  font-family: 'Alegreya';
  font-size: 60px;
}
@media (max-width: 767px){
  .land_text h3{
    font-size: 30px;
  }
  .land_text h2{
    font-size: 50px;
  }
}*/
/*landing section ends*/


/*about section starts*/

.land_about {
  display: block;
  margin: 0;
  padding: 2%;
}
.section_title {
  font-size: 30px;
  font-family: 'RocknRoll One';
  text-transform: uppercase;
  text-align: center;
  color: #1d1523;
  border-bottom: 10px none #fff;
}
.section_title:after {
  content: '';
  display: block;
  width: 700px;
  height: 4px;
  background: #1d1523;
  margin: 5px auto 20px;
  border-radius: 3px;
}
.section_content {
  margin: 0 5% 3%;
  font-size: 18px;
  color: #212a3a;
  line-height: 1.4;
  text-align: center;
}
@media (max-width: 767px) {
  .land_about {
    padding: 8% 2%;
  }
  .section_title:after {
    width: 250px;
  }
  .section_content {
    font-size: 14px;
  }
}

/*about section ends*/


/*slider section starts*/

.land_slider {
  display: block;
  margin: 0;
  padding: 0;
  background: linear-gradient(90deg, rgb(250,250,250) 40%, rgba(0, 0, 0, 0) 40%), url('../img/slider.jpg');
  background-size: cover;
  background-position: center;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img {
  display: block;
  width: 35vw;
  height: 30vw;
  margin: 5%;
  margin-left: 10%;
  border: 5px solid white;
}
.carousel-caption {
  position: absolute;
  top: 3%;
  left: 40%;
}
.carousel-caption h3{
  color: #212a3a;
  background: #fff;
  font-size: 2.5vw;
  font-weight: normal;
  text-transform: uppercase;
  padding: 5px;
  border: 5px solid white;
  box-shadow: inset 3px 0px 0px 0px #212a3a;
  box-sizing: border-box;
  font-family: 'RocknRoll One';
}
.carousel-caption p{
  margin-left: 25%;
  margin-top: 5%;
  padding: 3%;
  color: #1d1523;
  background: rgba(250,250,250,0.7);
  font-size: 1vw;
  font-family: 'Alegreya';
}
.mobile-only{
  display: none;
}
@media (max-width: 767px) {
  .carousel-caption h3{
    top: 0px;
    margin-top: 0px;
    padding-right: 0;
    border-right: none;
    box-shadow: inset 2px 0px 0px 0px #212a3a;
  }
  .carousel-caption p{
    display: none;
  }
  .mobile-only{
    display: block;
  }
}
/*slider section ends*/


/*logo section starts*/

.land_logo {
  display: block;
  margin: 0;
  padding: 2% 0;
  background: #212a3a;
}
.logo_image {
  display: flex;
  align-items: center;
  padding: 2% 0;
}
.logo_image img {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.logo_content {
  margin: 3% 0;
  font-size: 16px;
  color: #fff;
  line-height: 1.4;
  text-align: center;
}
@media (max-width: 767px) {
  .land_logo {
    padding: 8% 2%;
  }
  .land_logo img {
    padding-left: 10%;
    padding-right: 10%;
  }
}
@media (max-width: 767px) and (min-width: 425px) {
  .land_logo img {
    padding-left: 20%;
    padding-right: 20%;
  }
}
/*logo section ends*/


/*contact section starts*/

.land_contact {
  display: block;
  margin: 0;
  padding: 2%;
  background-color: #fff;
}
.social-links img{
  display: block;
  width: 60px;
  margin: 0px auto 15px;
}
.social-links p{
  text-align: center;
}
.social-links ul{
  display: flex;
  justify-content: center;
  padding-inline-start: 0;
  list-style: none;
  font-size: 20px;
  text-align: center;
}
.social-links li{
  width: 30px;
  float: left;
  margin: 5px;
  border: 1px solid #000;
  border-radius: 50%;
}
.social-links a{
  color: #222;
}
.social-links a:hover, .social-links a:focus{
  color: #555;
}
.quick-links {
  margin-left: 10%;
}
.quick-links h4{
  font-size: 15px;
  color: #311432;
  font-weight: bold;
}
.quick-links h4:after{
  content: '';
  display: block;
  width: 60px;
  height: 2px;
  background: #311432;
  margin: 5px 0 20px;
  border-radius: 3px;
}
.quick-links ul{
  list-style: none;
  padding-inline-start: 0;
}
.quick-links li{
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px dashed #ddd;
}
.quick-links a{
  color: #222;
}
.quick-links a:hover, .quick-links a:focus{
  color: #555;
}
@media (max-width: 767px){
  .social-links ul{
    font-size: 15px;
  }
  .social-links li{
    width: 25px;
  }
}
.tab-wrap {
  margin: 2%; 
}
.media>.pull-left {
  padding-right: 0;
}
.tab-wrap .nav-tabs {
  padding: 2%;
  background: #311432;
}
.tab-wrap .nav-tabs a{
  color: #fff;
}
.tab-wrap .nav-tabs a:hover, .tab-wrap .nav-tabs a:focus{
  color: #000;
}
.tab-wrap .tab-content {
  padding: 2%;
  background: #999999;
}
.tab-wrap .tab-content a{
  color: #333;
}
.tab-wrap .tab-pane .media-body {
  padding-left: 5%;
}
@media (max-width: 767px){
  .tab-wrap{
    margin: 0;
  }
  .tab-wrap .nav-tabs {
    padding: 1%;
  }
  .tab-wrap .nav-tabs a{
    font-size: 10px;
    padding: 5px;
  }
  .tab-wrap .tab-content{
    font-size: 12px;
  }
  .tab-wrap .tab-content p{
    text-align: left;
  }
}
/*contact section ends*/


/*****ABOUT PAGE******/
.about-head {
  display: block;
  height: 60vh;
  background: url('../img/slider.jpg');
  background-size: cover;
  clip-path: polygon(100% 0%,100% 80%,40% 100%,0% 80%,0% 0%);
}
.about-title {
  position: absolute;
  top: 20%;
  left: 10%;
}
.about-title h1{
  padding: 0 10px;
  border: 2px solid transparent;
  box-shadow: inset 5px 0px 0px 0px #fff;
  box-sizing: border-box;
  color: white;
  font-size: 50px;
  text-transform: uppercase;
}
@media (max-width: 767px){
  .about-title h1{
    font-size: 30px;
  }
}

.about-section1 {
  display: block;
  margin: 0%;
}
.section1-img {
  display: block;
  width: 100%;
  height: auto;
  margin: 5% auto;
  vertical-align: middle;
}
#mid-img {
  margin-top: 50%;
}
.section1-content {
  margin: 5% 0%;
}
.section1-content p{
  font-size: 18px;
}

.about-section2 {
  display: block;
  margin: 0%;
}
.section2-img1 {
  position: absolute;
  display: inline-block;
  width: 40%;
  height: auto;
  margin-top: 30%;
  right: 40%;
}
.section2-img2 {
  position: absolute;
  display: inline-block;
  width: 40%;
  height: auto;
  margin-top: 5%;
  right: 5%;
}
.section2-content {
  margin: 5% 0%;
}
.section2-content p{
  font-size: 18px;
}

.about-section3{
  display: block;
  margin: 0%;
}
.section3-content {
  margin: 5% 0%;
}
.section3-content p{
  font-size: 18px;
}

@media (max-width: 991px){
  .section1-img{
    display: inline-block;
    width: 30vw;
    margin: 3%;
  }
  #mid-img{
    display: block;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
  }
  .section2-img1, .section2-img2{
    position: relative;
    display: inline-block;
    width: 30vw;
    margin: 3%;
    right: auto;
  }
  .about-section3 img{
    display: block;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}

.dark-bg {
  background: #212a3a;
}
.text-white {
  color: #fff;
}
.text-center {
  text-align: center;
}
.mt-5p {
  margin-top: 5%;
}
.mt-25p {
  margin-top: 25%;
}
.ft-18 {
  font-size: 18px;
}
.mb-3p {
  margin-bottom: 3%;
}




/*footer section starts*/

footer{
  margin: 0;
  background: #311432;
  color: #fff;
  text-align: center;
  font-size: 14px;
}
footer p{
  margin: 0;
}
@media (max-width: 767px) {
  footer{
    padding: 2%;
    font-size: 10px;
  }
}
/*footer section endss*/